#mainHeader{
    text-align: center;
    color: blue;
    font-family: 'Caprasimo', cursive;
    font-size: xx-large;
} 

#outerDiv{
    display: flex;
    justify-content: space-between;
}

#leftDiv{
    text-align: center;
    flex-basis: 25%;
    background-color: aqua;
}

#rightDiv{
    text-align: center;
    flex-basis: 75%;
    background-color: pink;
}

.imagePoster{
    height: 400px;
    width: 300px;
}

.details{
    font-family: 'Caprasimo', cursive;
    font-size: xx-large;
}

ul {
    list-style: none;
}

.listItems{
    color: #00009C;
}

#tickets{
    font-weight: bolder;
    font-size: medium;
}